<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print("Hello World Phyton")

Hello World Phyton

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
# Inisiasi variabel angka
num1 = 6
num2 = 2
addOp = num1+num2 # Operasi Penjumlahan
subOp = num1-num2 # Operasi Pengurangan
mulOp = num1*num2 # Operasi Perkalian
divOp = num1/num2 # Operasi Pembagian
print ('Hasil Penjumlahan : %d' % (addOp)) # Print Hasil Penjumlahan
print ('Hasil Pengurangan : %d' % (subOp)) # Print Hasil Pengurangan
print ('Hasil Perkalian : %d' % (mulOp)) # Print Hasil Perkalian
print ('Hasil Pembagian : %d' % (divOp)) # Print Hasil Pembagian

Hasil Penjumlahan : 8
Hasil Pengurangan : 4
Hasil Perkalian : 12
Hasil Pembagian : 3

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
# Inisiasi variabel angka
num1 = 8
num2 = 5
intDivOp = int(num1/num2) # Operasi Pembagian untuk data bertipe integer
floDivOp = float(num1/num2) # Operasi Pembagian untuk data bertipe float
print ('Hasil Pembagian (tipe integer) : %d' % (intDivOp)) # Print Hasil Pembagian untuk data bertipe integer
print ('Hasil Pembagian (tipe float) : %f' % (floDivOp)) # Print Hasil Pembagian untuk data bertipe float

Hasil Pembagian (tipe integer) : 1
Hasil Pembagian (tipe float) : 1.600000

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [ ]:
# Inisiasi variabel string
firstName = "Kevin"
lastName = "Banjarnahor"
# Print kalimat
print('Hello sanbercode, saya %s %s! saya siap belajar python data science' % (firstName,lastName))

Hello sanbercode, saya Kevin Banjarnahor! saya siap belajar python data science

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
p = 9.99999
q = 'the number: '
print('%s %f' % (q,p))

the number:  9.999990

Expected Output :

the number: 9.99999