<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [ ]:
# Membuat dataframes dari dictionary

import pandas as pd
 
menu = {'Cemilan' : ['Smoothie Rawon', 'Es Rendang', 'Jus Geprek', 'Pudding Uduk'],'Harga' : [10000, 5000, 8000, 6000]} # Inisiasi Dictionary
dataFrame_Menu = pd.DataFrame(menu) # Konversi dictionary menjadi data frame
print (dataFrame_Menu)

          Cemilan  Harga
0  Smoothie Rawon  10000
1      Es Rendang   5000
2      Jus Geprek   8000
3    Pudding Uduk   6000

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [ ]:
# Membaca data dan memasukannya kedalam suatu variabel


dataFrame_diamonds = pd.read_csv('diamonds-1.csv')
print(dataFrame_diamonds)

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab:

In [ ]:
# code here

# 1. Series merupakan fitur dari konstruksi library panda, sedangkan list dan 
#    dictionary merupakan fitur murni (built-in) dari python. Satu series ha-
#    nya dapat menyimpan satu tipe data (seragam), sedangkan list dan dictionary
#    dapat terdiri dari beberapa tipe data (beragam). Series secara sederhana
#    mirip seperti list.
#
# 2. Dataframe didefenisikan sebagai suatu objek dua dimensi, yang secara seder-
#    hana mennyerupai 'dictionary' atau 'list' dari beberapa 'series'. Dataframe
#    terdiri dari dua index, yaitu index baris dan index kolom. Kolom dari Data-
#    frame masing-masing terdiri dari satu series, sehingga masing-masing kolom
#    hanya dapat menyimpan satu tipe data (seragam).
#
# 3. ***Dibawah***

import pandas as pd

x = pd.Series(['alpha','beta','charlie','delta','echo','foxtrot'])
print(x)

0      alpha
1       beta
2    charlie
3      delta
4       echo
5    foxtrot
dtype: object

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [ ]:
# code here

# 1. Untuk permasalahan ini, pertama kita perlu mengakses column yang diinginkan.
#    Hal tersebut dapat dilakukan dengan menggunakan baris-code :
#         >>  dataframe[column]
#    Dimana dataframe merupakan nama dari data frame yang ingin diakses dan column
#    adalah nama kolom yang ingin direturn
# 2. Dengan mengeksekusi codeline tersebut. Maka akan meng-return sebuah data yang
#    yang berisikan konten dari kolom yang di-inginkan dengan tipe data 'Series'.
#    Maka, untuk meng-return baris awal kita menggunakan series.head(n) dan untuk
#    baris terakhir kita menggunakan series.tail(n). Dimana series mendeskripsikan
#    data series yang ingin diakses dan  n mendeskripsikan banyaknya data yang
#    ingin di return


column_Price = dataFrame_diamonds['price']
print('baris pertama dari column price : ')
print(column_Price.head(1))

print('\n')

column_Color = dataFrame_diamonds['color']
print('baris terakhir dari column color : ')
print(column_Price.tail(1))


# Akan diperoleh nilai pada baris pertama dari column price sebesar 326,dan nilai
# pada baris terakhir dari column color sebesar 2757. Hasil ini dapat dibuktikan
# dari index hasil eksekusi code.

baris pertama dari column price :
0    326
Name: price, dtype: int64


baris terakhir dari column color :
53939    2757
Name: price, dtype: int64

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: 

( Statistik Deskriptif / Deskriptif Statistik)

Statistik Deskriptif merupakan suatu metode pengumpulan, pengelompokan, dan penyajian suatu data untuk menghasilkan informasi yang terstruktur dan berguna. Data statistik deskriptif dapat disajikan dalam bentuk grafis (meliputi Histogram, Pie Chart, Polygon, Ogive, dan stem and leaf diagram) dan numerik (meliputi Central Tredency, Fractile, Skewness, Pengukuran Keruncingan, dan Dispersion/Pancaran)

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [ ]:
# code here

# Beberapa metode dari pandas untuk mengetahui deskriptif statistik
print('INFO : ')
print(dataFrame_diamonds.info()) # Summary berupa info mengenai Data Frame
print('\n')
print('DESCRIPTION : ')
print(dataFrame_diamonds.describe()) # Kesimpulan deskriptif statistik

print('\n')

# Mean dari Column Price
mean_price = dataFrame_diamonds['price'].mean()
print('Nilai rata-rata dari column price')
print(mean_price)
print('\n')

# Standar Deviasi dari Column Depth
std_depth = dataFrame_diamonds['depth'].std()
print('Nilai standar deviasi dari column depth')
print(std_depth)
print('\n')

# Standar Deviasi dari Column Carat
max_carat = dataFrame_diamonds['carat'].max()
print('Nilai maximum dari column carat :')
print(max_carat)
print('\n')

INFO :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB
None


DESCRIPTION :
         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]


Nilai rata-rata dari column price
3932.799721913237


Nilai standar deviasi dari column depth
1.4326213188337733


Nilai maximum dari column carat :
5.01

Jawab: