In [ ]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1  Matematika     14     perempuan   12D
1         2  Matematika      9     perempuan   12A
2         3     Biologi     46     perempuan   12D
3         4       Kimia     43     perempuan   12A
4         5      Fisika     11     perempuan   12C

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# code here

# Bagian 1
# Menggunakan code line :
#   >> df[['column_1',..,'column_n']]
print('Indexing terhadap dataframe untuk mengakses column nilai dan kelas saja : \n')
print(df[['nilai','kelas']])

##########################################
print('\n \n')
##########################################

# Bagian 2
# Menggunakan code line :
#   >>  df.iloc[n]
# n dapat berupa angka tunggal ataupun rentang (akses posisi menggunakan indeks)

# Pada bagian rentang digunakan adalah 4:10 sesuai dengan indeks baris 5 sampai 10. (i, i+1, ..., j-2, j-1)
# df disini telah spesifik untuk mengakses kolom 'pelajaran' dan 'nilai'
print('Indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai : \n')
print(df[['pelajaran','nilai']].iloc[4:10])

Indexing terhadap dataframe untuk mengakses column nilai dan kelas saja :

    nilai kelas
0      14   12D
1       9   12A
2      46   12D
3      43   12A
4      11   12C
5      89   12C
6      94   12C
7      29   12C
8       9   12C
9      60   12A
10      9   12C
11     45   12B
12     79   12C
13     84   12D
14     60   12B
15      3   12B
16     38   12B
17     72   12C
18     50   12D
19     37   12B



Indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai :

  pelajaran  nilai
4    Fisika     11
5   Geologi     89
6   Biologi     94
7   Ekonomi     29
8   Biologi      9
9   Ekonomi     60

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# Bagian 1
# Dilakukan filter menggunakan codeline :
#     >> df.loc['column'].isin[spec_1,..,spec_n]
# spec mendefinisikan nilai spesifik yang akan difilter pada kolom yang bersangkutan

# df disini telah spesifik untuk mengakses kolom 'pelajaran'
# isin([]) diisi dengan mata-pelajaran yang diminta, yaitu Ekonomi dan Fisika.
print('Data siswa pada mata pelajaran Ekonomi dan Fisika : \n')
print(df.loc[df['pelajaran'].isin(['Ekonomi','Fisika'])])

##########################################
print('\n \n')
##########################################

# Bagian 2
# Dilakukan filter menggunakan codeline :
#     >> df[(boolean_series_1) & ... & (boolean_series_n)]
# Code tersebut akan melakukan filter berdasarkan beberapa boolean series, serta
# dapat juga dilakukan menggunakan operator and (&) dan or (|), dan sebagainya.

kimia = df.pelajaran == 'Kimia' # Boolean Series untuk pelajaran kimia
lebih_dari_50 = df.nilai > 50 # Boolean Series untuk nilai lebih dari 50
print('Data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia : \n')
print(df[(kimia)&(lebih_dari_50)])

##########################################
print('\n \n')
##########################################
# Bagian 3
# Menggunakan gabungan dari bagian 1 dan bagian 2 agar dapat berfungsi dengan baik.

lebih_dari_70 = df.nilai > 70  # Boolean Series untuk nilai lebih dari 70
kelas_12C = df.kelas == '12C' # Boolean Series untuk pelajaran kimia 12C

# Comment dibawah ini merupakan codeline yang akan menghasilkan error apabila kita,
# mengreturn boolean series untuk jenis kelamin perempuan. Hal tersebut disebabkan
# oleh adanya tanda negatif (-) pada variabel 'jenis-kelamin' yang dianggap sebagai
# operator.
#     >> perempuan = df.jenis-kelamin == 'perempuan'
#     >> printdf[(lebih_dari_70) & (kelas_12C) & (perempuan)]

# Maka dilakukan filter antara boolean series nilai yang lebih dari 70 dan kelas 12 C
gabung_nilai_dan_kelas = df[(lebih_dari_70) & (kelas_12C)]

# Selanjutnya, kita menspesifikan jenis kelamin dengan menggunakan codeline
#     >> df.loc[]
print('Data siswa mempunyai nilai lebih dari 70, berjenis kelamin perempuan dan di kelas 12C : \n')
print((gabung_nilai_dan_kelas.loc[gabung_nilai_dan_kelas['jenis-kelamin'] == 'perempuan']))

Data siswa pada mata pelajaran Ekonomi dan Fisika :

   siswa_id pelajaran  nilai jenis-kelamin kelas
4         5    Fisika     11     perempuan   12C
7         8   Ekonomi     29     laki-laki   12C
9        10   Ekonomi     60     laki-laki   12A



Data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia :

    siswa_id pelajaran  nilai jenis-kelamin kelas
14        15     Kimia     60     laki-laki   12B



Data siswa mempunyai nilai lebih dari 70, berjenis kelamin perempuan dan di kelas 12C :

    siswa_id pelajaran  nilai jenis-kelamin kelas
5          6   Geologi     89     perempuan   12C
12        13   Biologi     79     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# code here

def normalization (x) : # Definisi fungsi normalisasi
  return (x - x.min()) / (x.max()-x.min())

print('Nilai minimum : ' + str(df.nilai.min())) 
print('Nilai maksimum : ' + str(df.nilai.max()))

print('\n')

print('Series nilai hasil normalisasi : \n')
print(df[['nilai']].apply(normalization)) # Menggunakan method apply() untuk kolom 'nilai'

Nilai minimum : 3
Nilai maksimum : 94


Series nilai hasil normalisasi :

       nilai
0   0.120879
1   0.065934
2   0.472527
3   0.439560
4   0.087912
5   0.945055
6   1.000000
7   0.285714
8   0.065934
9   0.626374
10  0.065934
11  0.461538
12  0.835165
13  0.890110
14  0.626374
15  0.000000
16  0.384615
17  0.758242
18  0.516484
19  0.373626