<h2>Assignment 1: Creating Dataframes</h2>

Make an example of dataframe that created from a dictionary!

In [1]:
import pandas as pd

df = pd.DataFrame({'name': ['A89G','92NE','0FAE'], 'bounty': [13000,28542,2000]})
df

   name  bounty
0  A89G   13000
1  92NE   28542
2  0FAE    2000



---

<h2>Assignment 2: Reading data from a file</h2>

Download the file [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), and assign it into a variable, then print it.

In [2]:
df1 = pd.read_csv('diamonds-1.csv')
df1

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)



---

<h2>Assignment 3: DataFrame vs Series</h2>

- What is the difference between series, list, and dictionary?
- What is the difference betweem dataframe and series?
- Give an example of data series !

1.

Series is a function from pandas library that is similiar to list, but only capable of storing one type of data. List and Dictionary is a built-in functions that is capable of storing more than one type of data.

2.

Dataframe is described as two-dimensional object, that basically similiar to 'dictionary' or 'list' that consists of several 'series'. Dataframe has 2 index, and that is row index and column index. Each column of the dataframe consists of 1 series, so each column will only store one data type.

3.

In [23]:
df_x = pd.Series(['alpha','beta','charlie','delta','echo','foxtrot'])
print(df_x)

0      alpha
1       beta
2    charlie
3      delta
4       echo
5    foxtrot
dtype: object



---

<h2>Assignment 4: Simple Data Checking</h2>

Form Assigntment 2, show the value of these statements using pandas method :
- first row of 'price' column
- last row of 'color' column

In [15]:
df1['price'].head(n=1)

0    326
Name: price, dtype: int64

In [16]:
df1['color'].tail(n=1)

53939    D
Name: color, dtype: object



---

<h2>Assignment 5: Descriptive Statistics</h2>

What is  descriptive statistics ?

Descriptive Statistics is a method that is consists of gathering, clustering, and presentating of a data in order to produce an structured and usable information. Descriptive Statistics Data can be presentated in a form of a graph ( Histogram, Pie Chart, Polygon, Ogive, Stem, and Leaf Diagram ) and numeric ( Central Tendency, Fractile, Skewness, Dispersion)



---

<h2>Assignment 6: Practice Descriptive Statistics</h2>

- Use a method from pandas to obtain an information about descriptive statistics from a data
- Show the mean value of 'price' column
- Show the standard deviation value of 'depth' column
- Show the maximum value of 'carat' column

In [18]:
# Statistics Descriptive from Pandas

print('INFO : ')
print(df1.info()) # Summary of the dataframe
print('\n')
print('DESCRIPTION : ')
print(df1.describe()) # Stastics Descriptive Conclusion

INFO :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB
None


DESCRIPTION :
         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]

In [20]:
# Mean of price column

print(df1['price'].mean())

3932.799721913237

In [21]:
# Standard deviation of depth column

print(df1['depth'].std())

1.4326213188337733

In [22]:
# Maximum of carat column

print(df1['carat'].max())

5.01



---