In [3]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          210                 51
1        UAS1         Fisika                          371                 98
2        UTS2         Fisika                          726                 49
3        UAS2         Fisika                          376                 65
4        UTS1     Matematika                          728                 48
5        UAS1     Matematika                          442                 80
6        UTS2     Matematika                          288                 44
7        UAS2     Matematika                          751                 41
8        UTS1     Statistika                          320                 66
9        UAS1     Statistika                          600                 44
10       UTS2     Statistika                          519                 68
11       UAS2     Statistika                          404                 95



---



---

## Assignment 1. Data Cleaning



*   Penform an descending sorting for the imported dataframe!
*   Which 'Tipe Ujian' and "Mata Pelajaran' that has the smallest 'rata2 nilai terkecil' value ?

In [ ]:
df.sort_values('Rata2 Nilai Ujian', ascending=False)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          466                 60
1        UAS1         Fisika                          375                 80
2        UTS2         Fisika                          628                 89
3        UAS2         Fisika                          638                 53
4        UTS1     Matematika                          263                 74
5        UAS1     Matematika                          264                 87
6        UTS2     Matematika                          666                 55
7        UAS2     Matematika                          689                 82
8        UTS1     Statistika                          203                 56
9        UAS1     Statistika                          260                 68
10       UTS2     Statistika                          609                 97
11       UAS2     Statistika                          344                 58

In [ ]:
# Smallest 'rata-rata nilai ujian'

df[['Tipe Ujian','Mata Pelajaran']].tail(1)

   Tipe Ujian Mata Pelajaran
11       UAS2     Statistika

Expected output:

(May vary)

![alt text](https://drive.google.com/uc?id=1iv8P-LDdN3WpTVX9qST3kL7QSNSDiOc2)



---



---

<h2>Assignment 2: Data Restructuring</h2>

Explain what is the difference between pivoting and melting data?

*   Pivoting is a data reshaping method that penformed by rotating the data that previously placed in rows into columns
*   Melting (also called as unpivoting) is a data reshaping method that penformed by rotating the data that previously placed in columns into rows. To put it simple, melting will make the data that previous wide-shaped become long=shaped.



---



---

<h2>Assignment 3: Reshaping Data 1</h2>

In [ ]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          537                 46
1        UAS1         Fisika                          200                 54
2        UTS2         Fisika                          512                 44
3        UAS2         Fisika                          594                 78
4        UTS1     Matematika                          332                 82
5        UAS1     Matematika                          398                 78
6        UTS2     Matematika                          211                 60
7        UAS2     Matematika                          789                 80
8        UTS1     Statistika                          531                 57
9        UAS1     Statistika                          240                 90
10       UTS2     Statistika                          349                 85
11       UAS2     Statistika                          518                 81

Transform the above result to produce the expected result !

In [ ]:
pivot_df = df.pivot(index='Tipe Ujian', columns='Mata Pelajaran', values=['Rata2 Nilai Ujian','Rata2 Waktu Belajar (menit)'])
pivot_df

               Rata2 Nilai Ujian             ... Rata2 Waktu Belajar (menit)
Mata Pelajaran            Fisika Matematika  ...                  Matematika Statistika
Tipe Ujian                                   ...
UAS1                          54         78  ...                         398        240
UAS2                          78         80  ...                         789        518
UTS1                          46         82  ...                         332        531
UTS2                          44         60  ...                         211        349

[4 rows x 6 columns]

Expected Result:

(May vary)

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)



---



---

<h2>Assignment 4: Reshaping Data 2</h2>

In [ ]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')
df

        Kebun Binatang  Dufan  Disney  Bali
Hari
Sabtu              271    501    1000   900
Minggu             399    700    1001   803

In [ ]:
df.reset_index(level=0, inplace=True)
df

     Hari  Kebun Binatang  Dufan  Disney  Bali
0   Sabtu             271    501    1000   900
1  Minggu             399    700    1001   803

Transform the above data to obtain the expected result :

In [ ]:
#code here
#Resetting Index
df.reset_index(level=0, inplace=True)

#Melting
melt_df = pd.melt(pd.DataFrame(data), id_vars = 'Hari', value_vars = ['Kebun Binatang','Dufan','Disney','Bali'], 
                  var_name = 'Tempat Hiburan', value_name = 'Hasil') 
melt_df

     Hari  Tempat Hiburan  Hasil
0   Sabtu  Kebun Binatang    271
1  Minggu  Kebun Binatang    399
2   Sabtu           Dufan    501
3  Minggu           Dufan    700
4   Sabtu          Disney   1000
5  Minggu          Disney   1001
6   Sabtu            Bali    900
7  Minggu            Bali    803

Expected Result:

(May vary)

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)



---



---

<h2>Assignment 5: Data Enrichment</h2>

Penform a binning data using qcut to obtain the expected result !

In [7]:
data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          582                 53
1        UAS1         Fisika                          595                 59
2        UTS2         Fisika                          364                 66
3        UAS2         Fisika                          689                 45
4        UTS1     Matematika                          784                 62
5        UAS1     Matematika                          567                 55
6        UTS2     Matematika                          316                 74
7        UAS2     Matematika                          431                 59
8        UTS1     Statistika                          518                 73
9        UAS1     Statistika                          361                 71
10       UTS2     Statistika                          528                 68
11       UAS2     Statistika                          360                 94

In [8]:

df['keterangan kelulusan'] = pd.qcut(df['Rata2 Nilai Ujian'], q=3, labels=['Tidak Lulus','Remedial','Lulus'])
df

   Tipe Ujian Mata Pelajaran  ...  Rata2 Nilai Ujian  keterangan kelulusan
0        UTS1         Fisika  ...                 53           Tidak Lulus
1        UAS1         Fisika  ...                 59           Tidak Lulus
2        UTS2         Fisika  ...                 66              Remedial
3        UAS2         Fisika  ...                 45           Tidak Lulus
4        UTS1     Matematika  ...                 62              Remedial
5        UAS1     Matematika  ...                 55           Tidak Lulus
6        UTS2     Matematika  ...                 74                 Lulus
7        UAS2     Matematika  ...                 59           Tidak Lulus
8        UTS1     Statistika  ...                 73                 Lulus
9        UAS1     Statistika  ...                 71                 Lulus
10       UTS2     Statistika  ...                 68              Remedial
11       UAS2     Statistika  ...                 94                 Lulus

[12 rows x 5 columns]

Expected Output:

(May vary)

![alt text](https://drive.google.com/uc?id=1h2_u5_xhD1_QtPpItTj-o3lljHhnr4XS)



---



---